*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
   background-color: #111;
}


#circle{
    width: 300px;
    height: 300px;
    background-color: blue;
    border-radius: 50%;
   
}